# Loop

In [2]:
mstock = ['zomato','ncc','suthbank',
'tatapower','mrf','irctc','vedanta'
,'hotel','swiggy']

In [3]:
mstock

['zomato',
 'ncc',
 'suthbank',
 'tatapower',
 'mrf',
 'irctc',
 'vedanta',
 'hotel',
 'swiggy']

In [4]:
print(mstock)

['zomato', 'ncc', 'suthbank', 'tatapower', 'mrf', 'irctc', 'vedanta', 'hotel', 'swiggy']

In [12]:
print(mstock)
for g in mstock:
    print(g)

['zomato', 'ncc', 'suthbank', 'tatapower', 'mrf', 'irctc', 'vedanta', 'hotel', 'swiggy']
zomato
ncc
suthbank
tatapower
mrf
irctc
vedanta
hotel
swiggy

In [33]:
mstoct = ['irctc','ncc','swiggy']

In [34]:
for g in mstock:
    print(g)
    if g == "ncc":
        break

zomato
ncc

In [35]:

print(mstock)
for g in mstock:
    print(g)
    if g =='irctc':
      break

['zomato', 'ncc', 'suthbank', 'tatapower', 'mrf', 'irctc', 'vedanta', 'hotel', 'swiggy']
zomato
ncc
suthbank
tatapower
mrf
irctc

# Continue

In [36]:

for g in mstock :
  if g == "tatapower":
    continue
  print(g)

zomato
ncc
suthbank
mrf
irctc
vedanta
hotel
swiggy

# Range

In [43]:

for g in range(6,60,3):
  print(g)

6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57

In [45]:

for g in range(32):
  print(g)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
Finally finished!

# Nested loop

In [46]:

for x in mstock:
  for y in mstock:
    print(x, y)

zomato zomato
zomato ncc
zomato suthbank
zomato tatapower
zomato mrf
zomato irctc
zomato vedanta
zomato hotel
zomato swiggy
ncc zomato
ncc ncc
ncc suthbank
ncc tatapower
ncc mrf
ncc irctc
ncc vedanta
ncc hotel
ncc swiggy
suthbank zomato
suthbank ncc
suthbank suthbank
suthbank tatapower
suthbank mrf
suthbank irctc
suthbank vedanta
suthbank hotel
suthbank swiggy
tatapower zomato
tatapower ncc
tatapower suthbank
tatapower tatapower
tatapower mrf
tatapower irctc
tatapower vedanta
tatapower hotel
tatapower swiggy
mrf zomato
mrf ncc
mrf suthbank
mrf tatapower
mrf mrf
mrf irctc
mrf vedanta
mrf hotel
mrf swiggy
irctc zomato
irctc ncc
irctc suthbank
irctc tatapower
irctc mrf
irctc irctc
irctc vedanta
irctc hotel
irctc swiggy
vedanta zomato
vedanta ncc
vedanta suthbank
vedanta tatapower
vedanta mrf
vedanta irctc
vedanta vedanta
vedanta hotel
vedanta swiggy
hotel zomato
hotel ncc
hotel suthbank
hotel tatapower
hotel mrf
hotel irctc
hotel vedanta
hotel hotel
hotel swiggy
swiggy zomato
swiggy ncc
swiggy suthbank
swiggy tatapower
swiggy mrf
swiggy irctc
swiggy vedanta
swiggy hotel
swiggy swiggy

# While loop

In [48]:
i = 1
while i < 20:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [50]:
i = 1
while i < 15:
  print(i)
  i += 3

1
4
7
10
13

In [52]:
i = 2
while i < 5:
  print(i)
  if i == 6:
    break
  i += 1

2
3
4

In [54]:
i = 3
while i < 8:
  i += 1
  if i == 6:
    continue
  print(i)

4
5
7
8

In [55]:

i = 0
while i < 5:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5